.popup__submit {
    width: 358px;
    height: 50px;
    background: #000000;
    margin-top: 48px;
    border-radius: 2px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.popup__submit:hover {
    opacity: 0.6;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

@media screen and (max-width: 530px) {
    .popup__submit { 
        max-width: 200px;
    }
}