.register__link {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    color: #ffffff;
    text-align: center;
    margin-top: 15px;
}

