.register {
    font-family: "Inter";
    min-height: 572px;
    height: 77.3vh;
    max-width: 358px;
    width: 100%;
    display: block;
    margin: 0 auto;
    color: #ffffff;
}

@media screen and (max-width: 530px) {
    .register {
        width: 260px;
    }
}
